.header {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #797979;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.2px;
}

.walletCardWrapper {
  background: #f0f0f0;
  height: 215px;
  position: relative;
}

.walletCard {
  position: relative;
  bottom: -55px;
  width: 100%;
}

.afterWalletCardWrapper {
  padding-top: 72px;
}

.close {
  position: absolute;
  background: transparent url(../styles/images/close-button-dark.svg) center center no-repeat;
  width: 20px;
  height: 20px;
  cursor: pointer;
  right: 24px;
  top: 24px;
}

.close:hover {
  opacity: 0.8;
}

.content {
  width: 100%;
}

form {
  width: 100%;
  max-width: 380px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.funnelFooter button {
  min-width: 0;
}

.funnelFooter button:first-child {
    margin-left: 0;
}

.funnelFooter button:last-child {
    margin-right: 0;
}

.walletSpankCard {
  margin: auto;
}
