.balanceTooltip {
  margin: -12px -22px;
}

h3 {
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 0.4rem;
}

.amountInfo,
.cta {
  margin-bottom: 1rem;
}

.amount {
  color: #B2B2B2;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-family: cartographmonocf;
  font-weight: 100;
}

.balanceTipLayout {
  display: flex;
  flex-direction: column;
}

.reserveBalanceTip {
  font-family: sans-serif;
  grid-column: 1 / -1;
  font-size: .55rem;
  color: #B2B2B2;
  margin: .3rem 0rem .9rem 0rem;
  text-align: left;
  justify-self: stretch;
}

.tooltipRow {
  background-color: #343434;
  padding: 0px 14px;
  border-bottom: 2px solid #232323;
}

.totalRow {
  background-color: transparent;
}

.usdAmount {
  color: #7F7F7F;
  font-family: cartographmonocf;
}

.underline {
  flex: 1;
  border-bottom: 1px solid #797979;
  margin: 0 5px;
}

.iconCol {
  width: 45px;
}

.flex {
  display: flex;
}

.bottom {
  align-items: flex-end;
}
