.currency {
  width: 29px;
  height: 16px;
  text-indent: -999999px;
  background-size: contain !important;
  border-radius: 3px;
}

.unknown {
  border: 1px solid;
  text-indent: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 0.7rem;
}

.finney {
  background: transparent url('../../styles/images/fin-duo.svg') no-repeat center center;
}

.usd {
  background: transparent url('../../styles/images/usd.svg') no-repeat center center;
}

.finney.inverse {
  background: transparent url('../../styles/images/fin-duo-white.svg') no-repeat center center;
}

.finney.alt {
  background: transparent url('../../styles/images/fin-duo-pink.svg') no-repeat center center;
}

.usd.inverse {
  background: transparent url('../../styles/images/usd-white.svg') no-repeat center center;
}

/* TODO get the correct icon for ETH */
.eth {
  background: transparent url('../../styles/images/fin-duo.svg') no-repeat center center;
}