:root{
  --buttonWidth: 175px;
  --buttonWidthSmall: 100px;
}

.ctaInput {
  width: 640px;
  max-width: 100%;
  align-items: center;
}
.ctaInputValue {
  display: block;
  padding: 0 1rem;
  font-family: CartographMonoCF;
  line-height: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: calc(100% - var(--buttonWidth));
}

.ctaInputContent {
  box-shadow: 0 0 0 1px #fff;
  margin: 0;
  padding: .4rem 0;
  display: flex;
  justify-content: center;
  flex: 0 0 var(--buttonWidth);
}

@media only screen and (max-width : 750px) {
  .ctaInputContent {
    flex-basis: var(--buttonWidthSmall);
  }
  .ctaInputValue {
    width: calc(100% - var(--buttonWidthSmall));
  }
}

@media only screen and (max-width : 650px) {
  .qrCode{
    position: unset;
    margin: 0 auto 3em;
  }
}