.tooLow .tooLowTooltip {
  opacity: 0;
}

.tooLow:hover .tooLowTooltip {
  opacity: 1;
  visibility: visible;
}

.tooLow {
  position: relative;
}

.tooLowTooltip {
  display: flex !important;
  visibility: hidden;
  transition: opacity 250ms ease-in;
  position: absolute;
  top: calc(100% + 16px);
  background: #4a4a4a;
  width: 300px;
  align-items: center;
  justify-content: center;
  left: 50%;
  margin-left: -150px;
  padding: 0.5rem;
  border-radius: 3px;
}

.tooLowTooltip:before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #4a4a4a transparent;
  display: block;
  position: absolute;
  content: '';
  top: -8px;
  left: 50%;
  margin-left: -4px;
}

.finneyUnitInText {
  margin-left: 6px;
}
