.walletWrapper {
  width: 480px;
  position: relative;
  z-index: 200;
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 8px 8px 0px;
  overflow: hidden;
}

.walletCard {
  display: flex;
  flex-flow: row nowrap;
  padding: 2rem 4rem;
  height: 100%;
}

.walletSpankCardWrapper {
  display: flex;
  height: 100%;
  flex-flow: column nowrap;
}

.walletRow {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-evenly;
  padding: 1rem;
  background-color: #f8f8f8;
}

.walletSpankCardDetails {
  display: flex;
  flex-flow: row nowrap;
  padding: 2.5rem;
  justify-content: space-between;
}

.walletSpankCardView {
  display: flex;
  flex-flow: column nowrap;
}

.walletSpankCardActions {
  display: flex;
  flex-flow: column nowrap;
}

.walletSpankCardActions button:first-child {
  margin-bottom: 0.5rem;
}

.walletFunds {
  border-radius: 5.5px;
  background-color: #f8f8f8;
  flex: 1 0 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-flow: column nowrap;
  margin-right: 1rem;
}

.walletFundsHeader {
  font-family: gt-haptik;
  font-size: 1rem;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 0.1px;
}

.walletBalance {
  border-radius: 1rem;
  border: solid 0.7px #b5b5b5;
  width: 70%;
  font-family: CartographMonoCF;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  color: #797979;
}

.walletRowBalance {
  font-family: CartographMonoCF;
  font-size: 1rem;
  font-weight: 600;
  color: #b5b5b5;
  line-height: 1.35;
}

.walletActions {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 0 50%;
  justify-content: center;
  margin-left: 1rem;
}

.walletActions button {
  font-family: gt-haptik;
  margin: .2rem 0;
  flex: 0 0 auto;
  font-weight: bold;
  font-size: .8rem;
  padding: .35rem;
}

.walletDescriptionWrapper {
  background-color: #f0f0f0;
  padding: 2rem 4rem;
}

.walletDescriptionHeader {
  font-size: 1.5rem;
  margin-bottom: 1.1rem;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: 0.2px;
  color: #797979;
}

.walletDescription {
  font-size: 0.9rem;
  color: #797979;
  line-height: normal;
}

.walletQRHeader {
  display: block;
  font-size: 0.7rem;
  color: #797979;
  line-height: normal;
}

.walletQR {
  display: flex;
  margin-left: auto;
}

.walletAddressWrapper {
  margin: 1.1rem 0;
}

.ctaDivider {
  width: 1px;
  border-left: 1px solid #979797;
  height: 8px;
  position: relative;
  right: 2rem;
  top: 0.5rem;
}

.ctaContentWrapper:hover .ctaDivider {
  visibility: hidden;
}
